@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.theme-gryffindor {
  --background: 194, 155, 48;
  --text: 94, 5, 3;
}

.theme-slytherin {
  --background: 59, 148, 61;
  --text: 5, 50, 35;
}

.theme-hufflepuff {
  --background: 255, 230, 100;
  --text: 157, 129, 6;
}

.theme-ravenclaw {
  --background: 51, 95, 167;
  --text: 25, 21, 90;
}
